<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="API AUTOMATION DEMO Suite">
    <test verbose="5" name="API Automation Demo">
        <classes>
            <class name="com.apiautomation.demo.EmployeeTest" />
        </classes>
    </test>
</suite>